# App Configuration
DEBUG=false

# Allowed frontend origins
ALLOWED_HOSTS=localhost:3000,localhost:8000, 127.0.0.1:3000, 127.0.0.1:8000

# Email where contact form submissions will be sent
RECIPIENT_EMAIL=contact@example.com

# SMTP Configuration
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=your_email@example.com
SMTP_PASSWORD=your_email_password
